*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width:100%;
    background-image: linear-gradient(135deg, #0d0d0d 0%,#1a1a1a 50%,#333333 100% );
    background-repeat: no-repeat;
    background-attachment: fixed;
   font-family: 'Poppins', sans-serif;
}


html{
    scroll-behavior: smooth;
}
.section-nav{
    padding: 20px;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 55%;
    height:35px;
    margin: auto;
    border:3px solid gray;
    padding: 10px;
    border-radius:15px;
    margin-top: 30px;
    position: sticky;
    top: 0;
    z-index: 999;
}
.logo{
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.details a{
    text-decoration: none;
    text-decoration-line: none;
    color: white;
}
#ham{
    display: none;
    color:white;
    font-size: 20px;
}
#cross{
    display: none;
    color:white;
    font-size: 20px;
    margin-left: 200px;
}
.details2{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.details a:hover{
    background-image: linear-gradient(45deg,red,yellow);
    background-clip: text;
    color: transparent;
}
.h2{
    font-size: 40px;
    background-image: linear-gradient(45deg,red,yellow);
    background-clip: text;
    color: transparent;
    opacity: 0;
    transform: translateY(50px);
    animation: h1-animat 0.7s ease-out forwards;
}
.h1{
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}
.h3{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    background-image: linear-gradient(45deg,red,yellow);
    background-clip: text;
    color: transparent;
    opacity: 0;
    transform: translateY(50px);
    animation: h1-animat 1.5s ease-in-out  forwards;
}
.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 60px;
    animation: h1-animat 1.8s ease-in-out  forwards;
}
#call{
    height: 35px;
    width: 130px;
    border: none;
    border-radius: 5px;
    background-color: #25D366;
    color:white;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
    padding: 5px;
}
#Build{
 height: 35px;
    width: 130px;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
    padding: 5px;
}
#Build:hover{
   background: linear-gradient(45deg, #00f2fe, #4facfe);
   transform: scale(1.15);
   
}
#call:hover{
    transform: scale(1.15);
}



